/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.form-group{
  padding: 5px;
}

.form-container{
  width: 50%;
  background-color: floralwhite;
  padding: 25px;
  margin-top: 15px;
  border: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}
